body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: #808080;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
  }
  
  .display {
    margin-bottom: 10px;
    width: auto;
    height: 40px;
    background-color: white;
    font-size: 30px;
    text-align: right;
  }
  
  .display input {
    width: 100%;
    height: 30px;
    text-align: right;
    margin: 0;
    padding: 5px;
    font-size: 18px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding-top: 5px;
  }
  
  button {
    background-color: #f1f1f1;
    border: none;
    font-size: 18px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button.operation {
    background-color: #0074D9;
    color: white;
  }

  button.equals {
    background-color: orange;
    color: white;
  }

  button.action {
    background-color: lightcoral;

  }
  
  button:hover {
    background-color: #3e8e41;
    color: white;
  }

  button.equals:hover {
    background-color: black;
  }
  
  button.operation:hover {
    background-color: #001F3F;
  }

  button.action:hover {
    background-color: lightpink;
    color: black;
  }
  